<h1>Events you have attended</h1>

<div>
  <table>
    <% @attended_events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event_path(event) %> | </td>
      </tr>
    <% end %>
  </table>
</div>

