<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Sign Up</h3>
    </div>
    <div class="panel-body">
      Register for Ironboard and join the fun!
    </div>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
