<h1>Event Tags</h1>

<table>
<% @tags.each do |tag| %>
  <tr>
    <td>
      <h3><%= tag.name %></h3><br>
      <a href="/tags/<%= tag.id %>"><img style="height:150px;width:auto;" src="<%= tag.giphy_url %>"> </a>
    </td>
  </tr>
<% end %>
</table>