<div class="container">

	<div id="page_title">
  	<h1>Browse Events By Tag</h1>
	</div>

	<div class="row">
    <% @tags.each do |tag| %>
      <div class="col-xs-4">
        <div class="tag_giphy">
          <p class="giphy_text"><%= tag.name.upcase %> </p>
          <a href="/tags/<%= tag.id %>"><img src="<%= tag.giphy_url %>"> </a>
        </div>
      </div>
    <% end %>
  </div>

</div>