<div class="container">
<p id="notice"><%= notice %></p>

<div id="page_title">
  <h1>Upcoming Events Listing</h1>
</div>
  
  <% @events.each do |event| %>
    <%= event.day %><span class="horizontal_space_10px"></span><td><%= link_to event.title, event %>
    <br>
  <% end %>

<br>

<%= link_to 'New Event', new_event_path %>
<br><br>
</div>