<div class="container">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Create Event</h3>
  </div>
  <div class="panel-body">
    Make an awesome new Flatiron event!
  </div>
</div>
</div>
<%= render 'form' %>

