// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag_giphy {
	//width: auto
	margin: auto
}

.tag_giphy:hover { 
    background-color: yellow;
    opacity: 0.5;
}

.giphy_text {
	z-index: -1;
	display: inline;
	visibility: hidden;
	position: relative;
}

.giphy_text:hover {
	z-index: 2;
	visibility: visible;
	display: inline;
}